<div class="app-info">
    <h1>Welcome to the Search Videos APP!</h1>
    <p>The purpose of this application is purely an examination for demonstrating my knowledge in building web applications
        using the next generation of Angular framework</p>
</div>

<div class="screenshots">
    <ul>
        <li>
            <img src="../../assets/images/search-variants-page.PNG" alt="search variants page">
        </li>
        <li>
            <img src="../../assets/images/search-results-page.PNG" alt="search results page">
        </li>
        <li>
            <img src="../../assets/images/video-player-page.PNG" alt="video player page">
        </li>
    </ul>
</div>

<a class="btn btn-primary get-started" [routerLink]="['../search-videos/search-variants']">Get started</a>