<header>
    <a class="logo" routerLink="/welcome-page">
        <div class="logo-image"></div>
        <span class="text">Search Videos APP</span>
    </a>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/search-videos">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/playlist">Playlist</a>
        </li>
    </ul>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <p>Powered by Mikita Nikolski ©2018</p>
</footer>